@media only screen and (max-width: 330px) {
  .profile-username {
    font-size: 1.2em;
  }

  .timeline {
    font-size: 0.8em;
    margin-left: 10px;
  }

  .github-link {
    padding: 2.5px 5px;
    font-size: 1.5em;
  }

  .track {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 600px) {
  body,
  html {
    background-position: center;
    background-size: cover;
  }

  .profile-card {
    width: 80%;
    border-radius: 20px;
    opacity: 0.9;
    margin-top: 100px;
    height: auto;
    padding-bottom: 100px;
  }

  .cover-card {
    border-radius: 20px;
    height: 20vh;
  }
}

@media only screen and (min-width: 900px) {
  .profile-card {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .profile-card {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .profile-card {
    width: 40%;
  }
}